// -----------------------------------------------------------------------------
// Site-wide Sass variables
// -----------------------------------------------------------------------------

// Colors
$color_primary: #ffc107;
$color_accent: #2e7e99;
$color_heading: #555555;

// Fonts
$font_body: Georgia, serif;
$font_heading: Helvetica Neue, sans-serif;
$font_size: 18px; // sets the base font size;
